In [1]:
import nfl_data_py as nfl

In [2]:
seasons = [2024]
inj = nfl.import_injuries(seasons)

In [12]:
inj

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
0,2024,REG,ARI,1,00-0039521,WR,Xavier Weaver,Xavier,Weaver,Oblique,None,Out,Oblique,None,Did Not Participate In Practice,2024-09-06 19:05:30+00:00
1,2024,REG,ARI,1,00-0037141,S,Joey Blount,Joey,Blount,Back,None,Questionable,Back,None,Limited Participation in Practice,2024-09-06 19:05:21+00:00
2,2024,REG,ARI,1,00-0039737,TE,Tip Reiman,Tip,Reiman,Ankle,None,Questionable,Ankle,None,Limited Participation in Practice,2024-09-06 19:05:21+00:00
3,2024,REG,ATL,1,00-0031583,DT,Grady Jarrett,Grady,Jarrett,None,None,None,Not injury related - resting player,None,Did Not Participate In Practice,2024-09-06 18:35:04+00:00
4,2024,REG,ATL,1,00-0033051,DT,David Onyemata,David,Onyemata,None,None,None,Not injury related - resting player,None,Did Not Participate In Practice,2024-09-06 18:35:48+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6210,2024,SB,PHI,22,00-0036912,WR,DeVonta Smith,DeVonta,Smith,None,None,None,Hamstring,None,Limited Participation in Practice,2025-02-07 20:29:05+00:00
6211,2024,SB,PHI,22,00-0037132,WR,Britain Covey,Britain,Covey,Neck,None,Out,Neck,None,Full Participation in Practice,2025-02-07 20:32:07+00:00
6212,2024,SB,PHI,22,00-0027865,DE,Brandon Graham,Brandon,Graham,Elbow,None,Questionable,Elbow,None,Full Participation in Practice,2025-02-07 20:31:06+00:00
6213,2024,SB,PHI,22,00-0032134,TE,C.J. Uzomah,C.J.,Uzomah,Abdomen,None,Questionable,Abdomen,None,Full Participation in Practice,2025-02-07 20:31:06+00:00
6214,2024,SB,PHI,22,00-0034445,C,Nick Gates,Nick,Gates,Groin,None,Questionable,Groin,None,Limited Participation in Practice,2025-02-07 20:31:06+00:00

In [5]:
weekly = nfl.import_weekly_data(seasons)

Downcasting floats.

In [7]:
weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5597 entries, 0 to 5596
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    5597 non-null   object
 1   player_name                  5597 non-null   object
 2   player_display_name          5597 non-null   object
 3   position                     5597 non-null   object
 4   position_group               5597 non-null   object
 5   headshot_url                 5597 non-null   object
 6   recent_team                  5597 non-null   object
 7   season                       5597 non-null   int32
 8   week                         5597 non-null   int32
 9   season_type                  5597 non-null   object
 10  opponent_team                5597 non-null   object
 11  completions                  5597 non-null   int32
 12  attempts                     5597 non-null   int32
 13  passing_yards                5597 non-null   float32
 14  passing_tds                  5597 non-null   int32
 15  interceptions                5597 non-null   float32
 16  sacks                        5597 non-null   float32
 17  sack_yards                   5597 non-null   float32
 18  sack_fumbles                 5597 non-null   int32
 19  sack_fumbles_lost            5597 non-null   int32
 20  passing_air_yards            5597 non-null   float32
 21  passing_yards_after_catch    5597 non-null   float32
 22  passing_first_downs          5597 non-null   float32
 23  passing_epa                  706 non-null    float32
 24  passing_2pt_conversions      5597 non-null   int32
 25  pacr                         695 non-null    float32
 26  dakota                       606 non-null    float32
 27  carries                      5597 non-null   int32
 28  rushing_yards                5597 non-null   float32
 29  rushing_tds                  5597 non-null   int32
 30  rushing_fumbles              5597 non-null   float32
 31  rushing_fumbles_lost         5597 non-null   float32
 32  rushing_first_downs          5597 non-null   float32
 33  rushing_epa                  2358 non-null   float32
 34  rushing_2pt_conversions      5597 non-null   int32
 35  receptions                   5597 non-null   int32
 36  targets                      5597 non-null   int32
 37  receiving_yards              5597 non-null   float32
 38  receiving_tds                5597 non-null   int32
 39  receiving_fumbles            5597 non-null   float32
 40  receiving_fumbles_lost       5597 non-null   float32
 41  receiving_air_yards          5597 non-null   float32
 42  receiving_yards_after_catch  5597 non-null   float32
 43  receiving_first_downs        5597 non-null   float32
 44  receiving_epa                4454 non-null   float32
 45  receiving_2pt_conversions    5597 non-null   int32
 46  racr                         4427 non-null   float32
 47  target_share                 4454 non-null   float32
 48  air_yards_share              4454 non-null   float32
 49  wopr                         4454 non-null   float32
 50  special_teams_tds            5597 non-null   float32
 51  fantasy_points               5597 non-null   float32
 52  fantasy_points_ppr           5597 non-null   float32
dtypes: float32(29), int32(15), object(9)
memory usage: 1.3+ MB

In [13]:
weekly

,player_id,player_name,player_display_name,position,position_group,headshot_url,recent_team,season,week,season_type,...,receiving_first_downs,receiving_epa,receiving_2pt_conversions,racr,target_share,air_yards_share,wopr,special_teams_tds,fantasy_points,fantasy_points_ppr
0,00-0023459,A.Rodgers,Aaron Rodgers,QB,QB,https://static.www.nfl.com/image/upload/f_auto...,NYJ,2024,1,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,8.580000,8.580000
1,00-0023459,A.Rodgers,Aaron Rodgers,QB,QB,https://static.www.nfl.com/image/upload/f_auto...,NYJ,2024,2,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,15.140000,15.140000
2,00-0023459,A.Rodgers,Aaron Rodgers,QB,QB,https://static.www.nfl.com/image/upload/f_auto...,NYJ,2024,3,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,21.040001,21.040001
3,00-0023459,A.Rodgers,Aaron Rodgers,QB,QB,https://static.www.nfl.com/image/upload/f_auto...,NYJ,2024,4,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,11.600000,11.600000
4,00-0023459,A.Rodgers,Aaron Rodgers,QB,QB,https://static.www.nfl.com/image/upload/f_auto...,NYJ,2024,5,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,11.760000,11.760000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5592,00-0039921,T.Benson,Trey Benson,RB,RB,https://static.www.nfl.com/image/upload/f_auto...,ARI,2024,10,REG,...,2.0,1.987017,0,-3.125,0.083333,-0.072072,0.074550,0.0,8.700000,10.700000
5593,00-0039921,T.Benson,Trey Benson,RB,RB,https://static.www.nfl.com/image/upload/f_auto...,ARI,2024,12,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,1.800000,1.800000
5594,00-0039921,T.Benson,Trey Benson,RB,RB,https://static.www.nfl.com/image/upload/f_auto...,ARI,2024,13,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,2.000000,2.000000
5595,00-0039921,T.Benson,Trey Benson,RB,RB,https://static.www.nfl.com/image/upload/f_auto...,ARI,2024,14,REG,...,0.0,-0.144496,0,-0.800,0.026316,-0.031847,0.017181,0.0,1.900000,2.900000
5596,00-0039921,T.Benson,Trey Benson,RB,RB,https://static.www.nfl.com/image/upload/f_auto...,ARI,2024,15,REG,...,0.0,NaN,0,NaN,NaN,NaN,NaN,0.0,2.200000,2.200000

In [18]:
roster = nfl.import_weekly_rosters(seasons)

In [3]:
import nfl_data_py as nfl
import pandas as pd

seasons = list(range(2015, 2025))

inj = nfl.import_injuries(seasons)
weekly = nfl.import_weekly_data(seasons)
snaps = nfl.import_snap_counts(seasons)
sched = nfl.import_schedules(seasons)
players = nfl.import_players()

Downcasting floats.

In [6]:
inj

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
0,2015.0,REG,ARI,1.0,00-0029740,TE,Ifeanyi Momah,Ifeanyi,Momah,None,None,None,Knee,None,Did Not Participate In Practice,2015-09-09 14:14:17+00:00
1,2015.0,REG,ARI,1.0,00-0027869,G,Mike Iupati,Mike,Iupati,Knee,None,Out,Knee,None,Did Not Participate In Practice,2015-09-11 13:06:02+00:00
2,2015.0,REG,ARI,1.0,00-0029638,WR,Michael Floyd,Michael,Floyd,Hand,None,Questionable,Hand,None,Limited Participation in Practice,2015-09-11 13:05:52+00:00
3,2015.0,REG,ARI,1.0,00-0027873,TE,Jermaine Gresham,Jermaine,Gresham,Hamstring,None,Questionable,Hamstring,None,Limited Participation in Practice,2015-09-11 13:05:57+00:00
4,2015.0,REG,ARI,1.0,00-0031044,TE,Troy Niklas,Troy,Niklas,Hamstring,None,Questionable,Hamstring,None,Limited Participation in Practice,2015-09-11 13:06:07+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6210,2024.0,SB,PHI,22.0,00-0036912,WR,DeVonta Smith,DeVonta,Smith,None,None,None,Hamstring,None,Limited Participation in Practice,2025-02-07 20:29:05+00:00
6211,2024.0,SB,PHI,22.0,00-0037132,WR,Britain Covey,Britain,Covey,Neck,None,Out,Neck,None,Full Participation in Practice,2025-02-07 20:32:07+00:00
6212,2024.0,SB,PHI,22.0,00-0027865,DE,Brandon Graham,Brandon,Graham,Elbow,None,Questionable,Elbow,None,Full Participation in Practice,2025-02-07 20:31:06+00:00
6213,2024.0,SB,PHI,22.0,00-0032134,TE,C.J. Uzomah,C.J.,Uzomah,Abdomen,None,Questionable,Abdomen,None,Full Participation in Practice,2025-02-07 20:31:06+00:00
6214,2024.0,SB,PHI,22.0,00-0034445,C,Nick Gates,Nick,Gates,Groin,None,Questionable,Groin,None,Limited Participation in Practice,2025-02-07 20:31:06+00:00

In [12]:
inj_clean = inj[['season','week','gsis_id','report_status','practice_status']].copy()

In [13]:
inj_clean

,season,week,gsis_id,report_status,practice_status
0,2015.0,1.0,00-0029740,None,Did Not Participate In Practice
1,2015.0,1.0,00-0027869,Out,Did Not Participate In Practice
2,2015.0,1.0,00-0029638,Questionable,Limited Participation in Practice
3,2015.0,1.0,00-0027873,Questionable,Limited Participation in Practice
4,2015.0,1.0,00-0031044,Questionable,Limited Participation in Practice
...,...,...,...,...,...
6210,2024.0,22.0,00-0036912,None,Limited Participation in Practice
6211,2024.0,22.0,00-0037132,Out,Full Participation in Practice
6212,2024.0,22.0,00-0027865,Questionable,Full Participation in Practice
6213,2024.0,22.0,00-0032134,Questionable,Full Participation in Practice
6214,2024.0,22.0,00-0034445,Questionable,Limited Participation in Practice

In [16]:
inj_clean['on_report'] = inj_clean[['report_status','practice_status']].notna().any(axis=1).astype(int)
inj_clean['season'] = inj_clean['season'].astype(int)
inj_clean['week'] = inj_clean['week'].astype(int)

In [17]:
inj_clean

,season,week,gsis_id,report_status,practice_status,on_report
0,2015,1,00-0029740,None,Did Not Participate In Practice,1
1,2015,1,00-0027869,Out,Did Not Participate In Practice,1
2,2015,1,00-0029638,Questionable,Limited Participation in Practice,1
3,2015,1,00-0027873,Questionable,Limited Participation in Practice,1
4,2015,1,00-0031044,Questionable,Limited Participation in Practice,1
...,...,...,...,...,...,...
6210,2024,22,00-0036912,None,Limited Participation in Practice,1
6211,2024,22,00-0037132,Out,Full Participation in Practice,1
6212,2024,22,00-0027865,Questionable,Full Participation in Practice,1
6213,2024,22,00-0032134,Questionable,Full Participation in Practice,1
6214,2024,22,00-0034445,Questionable,Limited Participation in Practice,1

In [19]:
inj_clean.head(20)

,season,week,gsis_id,report_status,practice_status,on_report
0,2015,1,00-0029740,None,Did Not Participate In Practice,1
1,2015,1,00-0027869,Out,Did Not Participate In Practice,1
2,2015,1,00-0029638,Questionable,Limited Participation in Practice,1
3,2015,1,00-0027873,Questionable,Limited Participation in Practice,1
4,2015,1,00-0031044,Questionable,Limited Participation in Practice,1
5,2015,1,00-0024272,Out,Did Not Participate In Practice,1
6,2015,1,00-0027980,Out,Did Not Participate In Practice,1
7,2015,1,00-0029770,Probable,Full Participation in Practice,1
8,2015,1,00-0031285,Probable,Full Participation in Practice,1
9,2015,1,00-0031279,Probable,Full Participation in Practice,1
10,2015,1,00-0031680,Probable,Full Participation in Practice,1
11,2015,1,00-0023462,Probable,Full Participation in Practice,1
12,2015,1,00-0032054,Out,Did Not Participate In Practice,1
13,2015,1,00-0031066,Out,Limited Participation in Practice,1
14,2015,1,00-0031170,Doubtful,Limited Participation in Practice,1
15,2015,1,00-0029901,Doubtful,Limited Participation in Practice,1
16,2015,1,00-0023566,Probable,Full Participation in Practice,1
17,2015,1,00-0022839,Probable,Full Participation in Practice,1
18,2015,1,00-0030068,Out,Did Not Participate In Practice,1
19,2015,1,00-0032189,Out,Did Not Participate In Practice,1

In [20]:
inj_week = inj_clean.groupby(
    ['season','week','gsis_id'], as_index=False
).agg({
    'on_report':'max',
    'report_status':lambda x: x.dropna().iloc[0] if x.dropna().size>0 else None,
    'practice_status':lambda x: x.dropna().iloc[0] if x.dropna().size>0 else None
})

In [21]:
inj_week

,season,week,gsis_id,on_report,report_status,practice_status
0,2015,1,00-0021678,1,Probable,Full Participation in Practice
1,2015,1,00-0021706,1,Probable,Full Participation in Practice
2,2015,1,00-0022059,1,Questionable,Limited Participation in Practice
3,2015,1,00-0022839,1,Probable,Full Participation in Practice
4,2015,1,00-0023462,1,Probable,Full Participation in Practice
...,...,...,...,...,...,...
54711,2024,22,00-0037132,1,Out,Full Participation in Practice
54712,2024,22,00-0037284,1,None,Full Participation in Practice
54713,2024,22,00-0038090,1,Doubtful,Limited Participation in Practice
54714,2024,22,00-0038112,1,None,Full Participation in Practice
54715,2024,22,00-0038386,1,None,Full Participation in Practice

In [22]:
inj_next = inj_week.copy()
inj_next['week'] = inj_next['week'] - 1

inj_next = inj_next.rename(columns={
    'on_report': 'y',
    'report_status': 'next_report_status',
    'practice_status': 'next_practice_status'
})

In [23]:
inj_next

,season,week,gsis_id,y,next_report_status,next_practice_status
0,2015,0,00-0021678,1,Probable,Full Participation in Practice
1,2015,0,00-0021706,1,Probable,Full Participation in Practice
2,2015,0,00-0022059,1,Questionable,Limited Participation in Practice
3,2015,0,00-0022839,1,Probable,Full Participation in Practice
4,2015,0,00-0023462,1,Probable,Full Participation in Practice
...,...,...,...,...,...,...
54711,2024,21,00-0037132,1,Out,Full Participation in Practice
54712,2024,21,00-0037284,1,None,Full Participation in Practice
54713,2024,21,00-0038090,1,Doubtful,Limited Participation in Practice
54714,2024,21,00-0038112,1,None,Full Participation in Practice
54715,2024,21,00-0038386,1,None,Full Participation in Practice

In [26]:
df = weekly

In [28]:
df = df.rename(columns={'player_id':'gsis_id'})

In [30]:
df = df.merge(
    inj_next[['season','week','gsis_id','y','next_report_status','next_practice_status']],
    on=['season','week','gsis_id'], 
    how='left'
)

df['y'] = df['y'].fillna(0).astype(int)

In [33]:
print(df.head(10))

      gsis_id player_name player_display_name position position_group  \
0  00-0007091        None     Matt Hasselbeck       QB             QB
1  00-0007091        None     Matt Hasselbeck       QB             QB
2  00-0007091        None     Matt Hasselbeck       QB             QB
3  00-0007091        None     Matt Hasselbeck       QB             QB
4  00-0007091        None     Matt Hasselbeck       QB             QB
5  00-0007091        None     Matt Hasselbeck       QB             QB
6  00-0007091        None     Matt Hasselbeck       QB             QB
7  00-0007091        None     Matt Hasselbeck       QB             QB
8  00-0010346        None      Peyton Manning       QB             QB
9  00-0010346        None      Peyton Manning       QB             QB

                                        headshot_url recent_team  season  \
0  https://static.www.nfl.com/image/private/f_aut...         IND    2015
1  https://static.www.nfl.com/image/private/f_aut...         IND    2015
2  https://static.www.nfl.com/image/private/f_aut...         IND    2015
3  https://static.www.nfl.com/image/private/f_aut...         IND    2015
4  https://static.www.nfl.com/image/private/f_aut...         IND    2015
5  https://static.www.nfl.com/image/private/f_aut...         IND    2015
6  https://static.www.nfl.com/image/private/f_aut...         IND    2015
7  https://static.www.nfl.com/image/private/f_aut...         IND    2015
8  https://static.www.nfl.com/image/private/f_aut...         DEN    2015
9  https://static.www.nfl.com/image/private/f_aut...         DEN    2015

   week season_type  ... racr  target_share  air_yards_share  wopr  \
0     4         REG  ...  NaN           NaN              NaN   NaN
1     5         REG  ...  NaN           NaN              NaN   NaN
2    11         REG  ...  NaN           NaN              NaN   NaN
3    12         REG  ...  NaN           NaN              NaN   NaN
4    13         REG  ...  NaN           NaN              NaN   NaN
5    14         REG  ...  NaN           NaN              NaN   NaN
6    15         REG  ...  NaN           NaN              NaN   NaN
7    16         REG  ...  NaN           NaN              NaN   NaN
8     1         REG  ...  NaN           NaN              NaN   NaN
9     2         REG  ...  NaN           NaN              NaN   NaN

   special_teams_tds  fantasy_points  fantasy_points_ppr  y  \
0                0.0       15.380000           15.380000  1
1                0.0       16.219999           16.219999  0
2                0.0       13.320000           13.320000  0
3                0.0       20.299999           20.299999  0
4                0.0        4.860000            4.860000  1
5                0.0        9.080000            9.080000  1
6                0.0        7.980000            7.980000  1
7                0.0        3.960000            3.960000  1
8                0.0        4.900000            4.900000  1
9                0.0       20.240000           20.240000  1

   next_report_status               next_practice_status
0        Questionable     Full Participation in Practice
1                 NaN                                NaN
2                 NaN                                NaN
3                 NaN                                NaN
4            Probable     Full Participation in Practice
5            Probable  Limited Participation in Practice
6            Probable     Full Participation in Practice
7                 Out    Did Not Participate In Practice
8            Probable     Full Participation in Practice
9            Probable     Full Participation in Practice

[10 rows x 56 columns]

In [35]:
df = df.sort_values(['gsis_id','season','week'])

rolling_cols = [
    'offense_snaps','defense_snaps','st_snaps',
    'rushing_att','targets','receptions','sacks','qb_hits'
]

for col in rolling_cols:
    df[f'{col}_lag1'] = df.groupby('gsis_id')[col].shift(1)
    df[f'{col}_roll3'] = df.groupby('gsis_id')[col].rolling(3, min_periods=1).mean().reset_index(level=0, drop=True)

df = df.fillna(0)

KeyError: 'Column not found: offense_snaps'

In [38]:
df.columns

Index(['gsis_id', 'player_name', 'player_display_name', 'position',
       'position_group', 'headshot_url', 'recent_team', 'season', 'week',
       'season_type', 'opponent_team', 'completions', 'attempts',
       'passing_yards', 'passing_tds', 'interceptions', 'sacks', 'sack_yards',
       'sack_fumbles', 'sack_fumbles_lost', 'passing_air_yards',
       'passing_yards_after_catch', 'passing_first_downs', 'passing_epa',
       'passing_2pt_conversions', 'pacr', 'dakota', 'carries', 'rushing_yards',
       'rushing_tds', 'rushing_fumbles', 'rushing_fumbles_lost',
       'rushing_first_downs', 'rushing_epa', 'rushing_2pt_conversions',
       'receptions', 'targets', 'receiving_yards', 'receiving_tds',
       'receiving_fumbles', 'receiving_fumbles_lost', 'receiving_air_yards',
       'receiving_yards_after_catch', 'receiving_first_downs', 'receiving_epa',
       'receiving_2pt_conversions', 'racr', 'target_share', 'air_yards_share',
       'wopr', 'special_teams_tds', 'fantasy_points', 'fantasy_points_ppr',
       'y', 'next_report_status', 'next_practice_status'],
      dtype='object')

In [39]:
df = df.sort_values(["gsis_id", "season", "week"]).reset_index(drop=True)

In [40]:
non_numeric_cols = [
    'gsis_id', 'player_name', 'player_display_name', 'position',
    'position_group', 'headshot_url', 'recent_team', 'season',
    'week', 'season_type', 'opponent_team',
    'next_report_status', 'next_practice_status', 'y'
]

In [42]:
numeric_cols = [c for c in df.columns if c not in non_numeric_cols]
print("Numeric columns being used:", numeric_cols)

Numeric columns being used: ['completions', 'attempts', 'passing_yards', 'passing_tds', 'interceptions', 'sacks', 'sack_yards', 'sack_fumbles', 'sack_fumbles_lost', 'passing_air_yards', 'passing_yards_after_catch', 'passing_first_downs', 'passing_epa', 'passing_2pt_conversions', 'pacr', 'dakota', 'carries', 'rushing_yards', 'rushing_tds', 'rushing_fumbles', 'rushing_fumbles_lost', 'rushing_first_downs', 'rushing_epa', 'rushing_2pt_conversions', 'receptions', 'targets', 'receiving_yards', 'receiving_tds', 'receiving_fumbles', 'receiving_fumbles_lost', 'receiving_air_yards', 'receiving_yards_after_catch', 'receiving_first_downs', 'receiving_epa', 'receiving_2pt_conversions', 'racr', 'target_share', 'air_yards_share', 'wopr', 'special_teams_tds', 'fantasy_points', 'fantasy_points_ppr']

In [43]:



# Add lag1 and roll3 features
for col in numeric_cols:
    df[f"{col}_lag1"] = df.groupby("gsis_id")[col].shift(1)
    df[f"{col}_roll3"] = (
        df.groupby("gsis_id")[col]
          .rolling(3, min_periods=1)
          .mean()
          .reset_index(level=0, drop=True)
    )

# Fill missing values
df = df.fillna(0)

In [44]:
drop_cols = [
    'gsis_id', 'player_name', 'player_display_name', 'position',
    'position_group', 'headshot_url', 'recent_team', 'season',
    'week', 'season_type', 'opponent_team',
    'next_report_status', 'next_practice_status', 'y'
]

feature_cols = [c for c in df.columns if c not in drop_cols]
print("Total features:", len(feature_cols))

Total features: 126

In [45]:
train = df[df["season"] <= 2021]
val   = df[df["season"] == 2022]
test  = df[df["season"] >= 2023]

X_train = train[feature_cols].values.astype(float)
y_train = train["y"].values.astype(int)

X_val = val[feature_cols].values.astype(float)
y_val = val["y"].values.astype(int)

X_test = test[feature_cols].values.astype(float)
y_test = test["y"].values.astype(int)